@model IEnumerable< CozyHotels.Models.CarType>

@{ 
    ViewBag.Title = "Car Models";
}

<div><a asp-controller="Admin" asp-action="AddCarType">Add New</a></div>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Capacity</th>
        <th>Charge</th>
        <th>Description</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Make</td>
            <td>@item.Model</td>
            <td>@item.Capacity</td>
            <td>@item.Charge</td>
            <td>@item.Description</td>
        </tr>
    }
</table>