@model CozyHotels.ViewModels.AdminGetOrdersViewModel
@{
    ViewBag.Title = "Room Orders";
}

<table>
    <tr>
        <th>Event Hall Name</th>
        <th>Hall Type</th>
        <th>Customer Name</th>
        <th>Customer Id</th>
        <th>Charge</th>
    </tr>
    @foreach (var item in Model.GetEventOrders())
    {
        <tr>
            <td>@item.Room.RoomName</td>
            <td>@item.Room.RoomType.Name</td>
            <td>@item.Customer.FirstName + " "+@item.Customer.LastName</td>
            <td>@item.Customer.CustomerId</td>
            <td>@Model.Invoice(item.UniqueOrderId).Charge</td>
        </tr>
    }
</table>