@model CozyHotels.ViewModels.AdminGetOrdersViewModel
@{
    ViewBag.Title = "Restuarant Reservations";
}

<table>
    <tr>
        <th>Dish Name</th>
        <th>Customer Name</th>
        <th>Customer Id</th>
        <th>Date of Order</th>
        <th>Charge</th>
    </tr>
    @foreach (var item in Model.GetRestuarantReservations())
    {
        <tr>
            <td>@item.Table.TableName</td>
            <td>@item.Customer.FirstName + " "+@item.Customer.LastName</td>
            <td>@item.Customer.CustomerId</td>
            <td>@item.Day</td>
            <td>@item.Time</td>
            <td>@Model.Invoice(item.UniqueOrderId).Charge</td>
        </tr>
    }
</table>